venv/*
.idea/*
*.egg-info/
build/
.hypothesis/
.env
*.env
.DS_Store
__pycache__/
chainlit.md
.chainlit
.venv
data/preprocessed.csv
data/preprocessed.csv.gz
data/jokes_merged.csv
data/jokes.csv
.pytest_cache/
*.py[cod]
