accelerate==0.21.0
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
bleach==6.0.0
bokeh==3.2.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
comtypes==1.2.0
contourpy==1.1.0
exceptiongroup==1.1.2
filelock==3.12.2
frozenlist==1.4.0
fsspec==2023.6.0
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.8.0
iniconfig==2.0.0
Jinja2==3.1.2
joblib==1.3.2
linkify-it-py==2.0.2
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdit-py-plugins==0.4.0
mdurl==0.1.2
multidict==6.0.4
nltk==3.8.1
numpy==1.25.2
openai==0.27.8
packaging==23.1
pandas==2.0.3
panel==1.2.1
param==1.13.0
Pillow==10.0.0
pluggy==1.2.0
psutil==5.9.5
pypiwin32==223
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pyttsx3==2.90
pytz==2023.3
pyviz-comms==2.3.2
pywin32==306
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
safetensors==0.3.2
six==1.16.0
textblob==0.17.1
tokenizers==0.13.3
tomli==2.0.1
torch==1.12.0
torchaudio==0.12.0
torchvision==0.13.0
tornado==6.3.3
tqdm==4.66.1
transformers==4.31.0
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==2.0.4
webencodings==0.5.1
xyzservices==2023.7.0
yarl==1.9.2
zipp==3.16.2